---
import AlbumCard from '../components/AlbumCard.astro';
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

const albums = [
	{
		title: "Hot Fuss",
		artist: "The Killers",
		cover: "/images/hot-fuss.jpg",
		link: "/album/2177412",
	},
	{
		title: "First Impressions of Earth",
		artist: "The Strokes",
		cover: "/images/first-impressions.jpg",
		link: "/album/2113921",
	},
	// Agrega m치s 치lbumes seg칰n sea necesario
];
---
<Layout>
	<main>
		<section class="hero" >
			<div>
				<img alt="Bertilde y Emiliano almorzando sopa de menudencias con nectar" class="heroImage" src="https://firebasestorage.googleapis.com/v0/b/typechat-a0538.appspot.com/o/img%2Fimage.jpg581?alt=media&token=f9a54218-72a4-4568-84d3-31253ebf4e79" alt="Bertilde and Emiliano" />
			</div>
			<div class="cta">
				<h1>Un podcast de Bertilde</h1>
				<p>
					La historia de Bertilde Pach칩n es un reflejo de las dificultades y desaf칤os que muchas mujeres colombianas enfrentaron durante el siglo XX. Nacida en una comunidad rural en Cundinamarca, Bertilde vivi칩 en un contexto de pobreza y violencia, enfrent치ndose a matrimonios arreglados, la migraci칩n a una ciudad desconocida, y la necesidad de convertirse en la principal proveedora de su hogar. A trav칠s de esta serie de podcast, exploraremos c칩mo Bertilde desafi칩 las normas sociales de su 칠poca, se adapt칩 a los cambios y luch칩 incansablemente para asegurar el bienestar de su familia. Su vida es una lecci칩n de resiliencia, adaptaci칩n y fuerza en medio de un entorno adverso. Acomp치침anos en este viaje para conocer m치s sobre su incre칤ble historia.
				</p>
				<a href="/fuentes">Fuentes secundarias <span>游</span></a>
			</div>
			
		</section>
		<!-- <section>
			<h2>츼lbumes Reproducidos Recientemente</h2>
			<div class="album-grid">
				{
					albums.map((album) => (
						<AlbumCard {...album} />
						<div class="album-card"></div>
					))
				}
			</div>
		</section> -->
	</main>
</Layout>

