---
import AlbumCard from '../components/AlbumCard.astro';
import Layout from "../layouts/Layout.astro";

const albums = [
	{
		title: "Nacimiento en el Campo",
		artist: "Simon Pineda",
		cover: "https://firebasestorage.googleapis.com/v0/b/typechat-a0538.appspot.com/o/img%2FDALL%C2%B7E%202024-11-03%2023.13.49%20-%20Album%20cover%20style%20image%20representing%20a%20rural%20Colombian%20village%20in%20the%201940s.%20Include%20natural%20elements%20like%20trees%2C%20mountains%2C%20a%20small%20farmhouse%2C%20and%20a%20.webp8631?alt=media&token=469ec77f-3a5a-4dd3-8825-821e750fe4c0",
		link: "/album/1234",
	},
	{
		title: "Matrimonio a los 15 A帽os",
		artist: "Manuela Pineda",
		cover: "https://firebasestorage.googleapis.com/v0/b/typechat-a0538.appspot.com/o/img%2FDALL%C2%B7E%202024-11-03%2023.14.17%20-%20Album%20cover%20style%20image%20inspired%20by%20elements%20from%20a%20rural%20Colombian%20village%20in%20the%201940s%20and%20a%20family%20migrating%20to%20Bogot%C3%A1%20in%20the%201960s.%20Represent%20a%20yo.webp6801?alt=media&token=9c2ce287-a4ec-48c6-9b53-0e076d659c51",
		link: "/album/4321",
	},
	{
		title: "Migraci贸n a Bogot谩",
		artist: "Simon Pineda",
		cover: "https://firebasestorage.googleapis.com/v0/b/typechat-a0538.appspot.com/o/img%2FDALL%C2%B7E%202024-11-03%2023.14.11%20-%20Album%20cover%20style%20image%20representing%20a%20family%20migrating%20to%20Bogot%C3%A1%20in%20the%201960s.%20Show%20elements%20like%20an%20old%20bus%2C%20suitcases%2C%20a%20mother%20holding%20her%20childre.webp9271?alt=media&token=22caadcb-fee8-4cbf-8037-eea1bb95641b",
		link: "/album/2314",
	},
	{
		title: "Costurera y Cabeza de Hogar",
		artist: "Manuela Pineda",
		cover: "https://firebasestorage.googleapis.com/v0/b/typechat-a0538.appspot.com/o/img%2FDALL%C2%B7E%202024-11-03%2023.14.19%20-%20Album%20cover%20style%20image%20inspired%20by%20elements%20from%20a%20rural%20Colombian%20village%20in%20the%201940s%20and%20a%20family%20migrating%20to%20Bogot%C3%A1%20in%20the%201960s.%20Represent%20a%20wo.webp5821?alt=media&token=bf3eea3e-9225-4773-97b5-c2bf24c63859",
		link: "/album/1423",
	},
];

---
<Layout>
	<main>
		<section class="hero" >
			<div>
				<img alt="Bertilde y Emiliano almorzando sopa de menudencias con nectar" class="heroImage" src="https://firebasestorage.googleapis.com/v0/b/typechat-a0538.appspot.com/o/img%2Fimage.jpg581?alt=media&token=f9a54218-72a4-4568-84d3-31253ebf4e79" alt="Bertilde and Emiliano" />
			</div>
			<div class="cta">
				<h1>Un podcast de Bertilde</h1>
				<p>
					La historia de Bertilde Pach贸n es un reflejo de las dificultades y desaf铆os que muchas mujeres colombianas enfrentaron durante el siglo XX. Nacida en una comunidad rural en Cundinamarca, Bertilde vivi贸 en un contexto de pobreza y violencia, enfrent谩ndose a matrimonios arreglados, la migraci贸n a una ciudad desconocida, y la necesidad de convertirse en la principal proveedora de su hogar. A trav茅s de esta serie de podcast, exploraremos c贸mo Bertilde desafi贸 las normas sociales de su 茅poca, se adapt贸 a los cambios y luch贸 incansablemente para asegurar el bienestar de su familia. Su vida es una lecci贸n de resiliencia, adaptaci贸n y fuerza en medio de un entorno adverso. Acomp谩帽anos en este viaje para conocer m谩s sobre su incre铆ble historia.
				</p>
				<a href="/fuentes">Fuentes secundarias <span></span></a>
			</div>
			
		</section>
		<br>
		<section>
			<h2>Historias por escuchar</h2>
			<div class="album-grid">
				{
					albums.map((album) => (
						<AlbumCard {...album} />
						// <div class="album-card"></div>
					))
				}
			</div>
		</section>
	</main>
</Layout>

